<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    아이디 : <%=id%> <br>
    이름 : <%=name%> <br>
    비밀번호 : <%=pw%><br>
    이메일 : <%=email%><br>
    주소 : <%=address%>
</body>
</html>